<%= div_for comment do %>
        <p>
                <strong>
                        Posted <%= time_ago_in_words(comment.created_at) %> ago
                </strong>
                <br/>
              <p>User:  <%= comment.user %> </p>
              <p>Comment:  <%= comment.body %> </p>

        </p>
<% end %>
